<script src='https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js' crossorigin="anonymous"
				referrerpolicy="no-referrer"></script>
<script>
	let map = new maplibregl.Map({
		container: 'map',
		style: '/style-home.json',
		interactive: false,
		center: [
			-71.09718292951584 + (Math.random() - 0.5) * 0.15,
			42.34666268846195 + (Math.random() - 0.5) * 0.15
		],
		maxBounds: [
			[-74.92, 40.55],
			[-68.26, 43.42]
		],
		minZoom: 2,
		zoom: 15,
		pitch: 50
	});

	map.on('load', () => {
		document.getElementById("shroud").className = "fadeOut";
	});

	const fly = () => {
		map.flyTo({
			center: [
				-71.09718292951584 + (Math.random() - 0.5) * 0.15,
				42.34666268846195 + (Math.random() - 0.5) * 0.15
			],
			duration: 6000,
			speed: 0.1,
			curve: (t) => {
				return t * t * t;
			},
			essential: true
		});
	};

	setInterval(() => fly(), 10000);
</script>
