<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.js"
				integrity="sha512-WyDTdfP+imWTh/TVkV0xSt25+8GKtsChAgi2zuVJtxFyseDAFI3oKnf5AZoaQ7pD1190EpO3ccUJXJk02z2jvw=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	const lat = '{{ .Lat }}';
	const lon = '{{ .Lon }}';
	const zoom = '{{ .Zoom }}';
	const pitch = '{{ .Pitch }}';
	const bearing = '{{ .Bearing }}';

	const getCenter = () => {
		if (lat === '' || lon === '') {
			return [-71.5, 42.2];
		}

		return [lon, lat];
	};

	const getZoom = () => {
		if (zoom === '0') {
			return 8;
		}

		return zoom;
	};

	const getPitch = () => {
		if (pitch === '0') {
			return 0;
		}

		return pitch;
	};

	const getBearing = () => {
		if (bearing === '0') {
			return 0;
		}

		return bearing;
	};

	let map = new mapboxgl.Map({
		container: 'map',
		style: '/style.json',
		center: getCenter(),
		maxBounds: [
			[-74.92, 40.55],
			[-68.26, 43.42]
		],
		minZoom: 7,
		maxZoom: 17,
		zoom: getZoom(),
		pitch: getPitch(),
		bearing: getBearing()
	});

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  // return pitch and bearing params if either are set
  let pitchBearing = () => {
	  if (map.getPitch() > 0 || map.getBearing() !== 0 || map.getBearing() !== -0 || map.getBearing() !== 0.0  || map.getBearing() !== -0.0) {
		  return `,${map.getPitch().toFixed(1)},${map.getBearing().toFixed(1)}`;
	  }
	  return '';
  }

  // debounce function generator
  const debounce = (func, wait, immediate) => {
	  let timeout;
	  return function() {
		  let context = this, args = arguments;
		  let later = function() {
			  timeout = null;
			  if (!immediate) func.apply(context, args);
		  };
		  let callNow = immediate && !timeout;
		  clearTimeout(timeout);
		  timeout = setTimeout(later, wait);
		  if (callNow) func.apply(context, args);
	  };
  };

  // debounce setting the map viewport in the URL
  const debounceUrl = debounce(() => {
	  if (map) {
		  let {lng, lat} = map.getCenter();
		  let zoom = map.getZoom();
	    window.history.replaceState(null, 'map',
		    `/map/@${lat.toFixed( zoom / 3 )},${lng.toFixed( zoom / 3 )}`
		    + `,${zoom.toFixed(1)}z${pitchBearing()}`);
	  }
	}, 250);

	map.on('move', debounceUrl);
</script>