<script src='https://unpkg.com/maplibre-gl@2.3.0/dist/maplibre-gl.js' crossorigin="anonymous"
				referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css"
			type="text/css">
<script>
	const lat = '{{ .Lat }}';
	const lon = '{{ .Lon }}';
	const zoom = '{{ .Zoom }}';
	const pitch = '{{ .Pitch }}';
	const bearing = '{{ .Bearing }}';

	const getCenter = () => {
		if (lat === '' || lon === '') {
			return [-71.5, 42.2];
		}

		return [lon, lat];
	};

	const getZoom = () => {
		if (zoom === '0' || zoom === '') {
			return 7;
		}

		return zoom;
	};

	const getPitch = () => {
		if (pitch === '0' || pitch === '') {
			return 0;
		}

		return pitch;
	};

	const getBearing = () => {
		if (bearing === '0' || bearing === '') {
			return 0;
		}

		return bearing;
	};

	let map = new maplibregl.Map({
		container: 'map',
		style: '/style.json',
		center: getCenter(),
		// maxBounds: [
		// 	[-83.92, 36.9],
		// 	[-60.26, 47.62]
		// ],
		minZoom: 0,
		maxZoom: 19,
		maxPitch: 65,
		zoom: getZoom(),
		pitch: getPitch(),
		bearing: getBearing()
	});

	class ButtonControl {
		constructor({className = "", title = "", eventHandler = ()=>{}}) {
			this._className = className;
			this._title = title;
			this._eventHandler = eventHandler;
		}

		onAdd(map) {
			this._btn = document.createElement("button");
			this._btn.className = "maplibre-ctrl-icon mapboxgl-ctrl-icon" + " " + this._className;
			this._btn.type = "button";
			this._btn.title = this._title;
			this._btn.onclick = this._eventHandler;

			this._container = document.createElement("div");
			this._container.className = "maplibre-ctrl-group maplibre-ctrl mapboxgl-ctrl mapboxgl-ctrl-group";
			this._container.appendChild(this._btn);

			return this._container;
		}

		onRemove() {
			this._container.parentNode.removeChild(this._container);
			this._map = undefined;
		}
	}

	// Add zoom and rotation controls to the map.
	map.addControl(new maplibregl.NavigationControl({
		visualizePitch: true
	}));

	map.addControl(new ButtonControl({
		className: "maplibre-gl-show_tiles",
		title: "Toggle debug tile boundaries",
		eventHandler: () => {
			map.showTileBoundaries = !map.showTileBoundaries;
		}
	}), "top-right");

	map.addControl(new ButtonControl({
		className: "maplibre-gl-show_data_bounds",
		title: "Toggle data bounds",
		eventHandler: () => {
			const visibility = map.getLayoutProperty(
				'ne_outline',
				'visibility'
			);

			if (visibility === 'visible') {
				map.setLayoutProperty('ne_outline', 'visibility', 'none');
			} else {
				map.setLayoutProperty(
					'ne_outline',
					'visibility',
					'visible'
				);
			}
		}
	}), "top-right");

	if (map.getSource("tornadoes")) {
		map.addControl(new ButtonControl({
			className: "maplibre-gl-show_tornadoes",
			title: "Toggle tornado data",
			eventHandler: () => {
				const tornadoLayerBase = "tornado_line";
				const tornadoLayers = ["", "_casing", "_buffer", "_stripe", "_label"];

				for (const layerId of tornadoLayers) {
					const thisLayerId = tornadoLayerBase + layerId;

					const visibility = map.getLayoutProperty(
						thisLayerId,
						'visibility'
					);

					if (visibility === 'visible') {
						map.setLayoutProperty(thisLayerId, 'visibility', 'none');
					} else {
						map.setLayoutProperty(
							thisLayerId,
							'visibility',
							'visible'
						);
					}
				}
			}
		}), "top-right");
	}

	// Create a popup, but don't add it to the map yet.
	const popup = new maplibregl.Popup({
		closeButton: false,
		closeOnClick: false
	});

	map.on('mousemove', 'tornado_line_buffer', (e) => {
		// Change the cursor style to the UI indicator.
		map.getCanvas().style.cursor = 'pointer';

		const props = e.features[0].properties;

		const description = `<b>Time:</b> ${props.date} @ ${props.time}<br />`
			+ `<b>Damage:</b> F${props.mag} <b>Injuries:</b> ${props.inj}`;

		// Populate the popup and set its coordinates based on the feature found.
		popup.setLngLat(e.lngLat)
			.setHTML(description)
			.addTo(map);
	});

	map.on('mouseleave', 'tornado_line_buffer', () => {
		map.getCanvas().style.cursor = '';
		popup.remove();
	});

	// return pitch and bearing params if either are set
	let pitchBearing = () => {
		if (map.getPitch() > 0 || map.getBearing() !== 0 || map.getBearing() !== -0 || map.getBearing() !== 0.0 || map.getBearing() !== -0.0) {
			return `,${map.getPitch().toFixed(1)},${map.getBearing().toFixed(1)}`;
		}
		return '';
	}

	// debounce function generator
	const debounce = (func, wait, immediate) => {
		let timeout;
		return function () {
			let context = this, args = arguments;
			let later = function () {
				timeout = null;
				if (!immediate) func.apply(context, args);
			};
			let callNow = immediate && !timeout;
			clearTimeout(timeout);
			timeout = setTimeout(later, wait);
			if (callNow) func.apply(context, args);
		};
	};

	// debounce setting the map viewport in the URL
	const debounceUrl = debounce(() => {
		if (map) {
			let {lng, lat} = map.getCenter();
			let zoom = map.getZoom();
			window.history.replaceState(null, 'map',
				`/map/@${lat.toFixed(zoom / 3)},${lng.toFixed(zoom / 3)}`
				+ `,${zoom.toFixed(1)}z${pitchBearing()}`);
		}
	}, 250);

	map.on('move', debounceUrl);

	const draw = new MapboxDraw({
		displayControlsDefault: false,
		// Select which mapbox-gl-draw control buttons to add to the map.
		controls: {
			point: true,
			polygon: true,
			line_string: true,
			trash: true
		},
		// Set mapbox-gl-draw to draw by default.
		// The user does not have to click the polygon control button first.
		// defaultMode: 'draw_polygon'
	});

	map.addControl(draw);

	map.on('load', () => {
		map.addSource('ne', {
			'type': 'geojson',
			'data': {
				'type': 'Feature',
				'geometry': {
					'type': 'Polygon',
					'coordinates': [[
						[-70.345260, 39.654840],
						[-75.001870, 38.742870],
						[-75.355540, 39.270830],
						[-75.574430, 39.461280],
						[-75.542450, 39.568270],
						[-75.578790, 39.611200],
						[-75.475220, 39.760910],
						[-75.415990, 39.800890],
						[-75.462340, 39.822510],
						[-75.519500, 39.835700],
						[-75.578040, 39.837150],
						[-75.631430, 39.829370],
						[-75.692540, 39.806560],
						[-75.740260, 39.770810],
						[-75.772530, 39.720260],
						[-78.175970, 39.720790],
						[-80.522400, 39.718810],
						[-80.521370, 40.642550],
						[-80.522750, 42.328850],
						[-78.956370, 42.837800],
						[-78.908700, 42.902820],
						[-78.907330, 42.913570],
						[-78.913680, 42.935060],
						[-78.933970, 42.952070],
						[-78.967090, 42.955540],
						[-79.022150, 42.980250],
						[-79.029580, 43.019980],
						[-79.008540, 43.057610],
						[-79.077250, 43.076210],
						[-79.078060, 43.081700],
						[-79.064360, 43.096810],
						[-79.059520, 43.110950],
						[-79.072950, 43.121120],
						[-79.055500, 43.130140],
						[-79.045560, 43.141510],
						[-79.056850, 43.176770],
						[-79.051470, 43.200080],
						[-79.058720, 43.209080],
						[-79.059260, 43.238050],
						[-79.057910, 43.251740],
						[-79.075370, 43.264260],
						[-79.216910, 43.454960],
						[-78.672600, 43.652190],
						[-76.777960, 43.684760],
						[-76.445620, 44.098440],
						[-76.315160, 44.199930],
						[-76.168560, 44.283550],
						[-76.007190, 44.352820],
						[-75.954670, 44.349880],
						[-75.826950, 44.432310],
						[-75.816310, 44.484990],
						[-75.502850, 44.710390],
						[-75.313000, 44.837370],
						[-75.135500, 44.918380],
						[-74.982720, 44.984350],
						[-74.835140, 45.017660],
						[-74.774670, 45.015550],
						[-74.751320, 44.998070],
						[-74.670980, 45.009480],
						[-74.490980, 45.003350],
						[-74.148790, 44.993450],
						[-73.852160, 45.004620],
						[-73.063200, 45.019190],
						[-72.640920, 45.017240],
						[-72.099330, 45.007320],
						[-71.503440, 45.015290],
						[-71.510670, 45.047650],
						[-71.500150, 45.070700],
						[-71.435470, 45.126400],
						[-71.441710, 45.140150],
						[-71.410100, 45.208530],
						[-71.450220, 45.236430],
						[-71.444120, 45.240570],
						[-71.384130, 45.245370],
						[-71.367960, 45.268790],
						[-71.277270, 45.310020],
						[-71.221020, 45.259770],
						[-71.138680, 45.249070],
						[-71.101300, 45.301810],
						[-71.010480, 45.349610],
						[-70.945760, 45.339730],
						[-70.914960, 45.313160],
						[-70.862410, 45.233080],
						[-70.811290, 45.377220],
						[-70.830910, 45.395600],
						[-70.796320, 45.436010],
						[-70.750690, 45.429320],
						[-70.647200, 45.381900],
						[-70.636380, 45.418470],
						[-70.750580, 45.495040],
						[-70.677800, 45.590020],
						[-70.556260, 45.669960],
						[-70.399880, 45.737460],
						[-70.422530, 45.795060],
						[-70.371890, 45.836450],
						[-70.264260, 45.898250],
						[-70.266670, 45.957480],
						[-70.319540, 45.959980],
						[-70.321600, 46.019850],
						[-70.314560, 46.071920],
						[-70.252250, 46.151540],
						[-70.303920, 46.180190],
						[-70.213110, 46.338630],
						[-70.094660, 46.412180],
						[-70.058960, 46.419520],
						[-69.999390, 46.695840],
						[-69.751850, 46.943580],
						[-69.225880, 47.462220],
						[-69.176360, 47.458220],
						[-69.037570, 47.430870],
						[-69.027100, 47.406020],
						[-69.037430, 47.335450],
						[-69.048390, 47.296580],
						[-69.031220, 47.243700],
						[-68.885820, 47.187610],
						[-68.815960, 47.219100],
						[-68.581020, 47.290540],
						[-68.483280, 47.302980],
						[-68.394560, 47.291670],
						[-68.382330, 47.360620],
						[-68.245120, 47.363150],
						[-68.150280, 47.327840],
						[-67.951240, 47.199590],
						[-67.856450, 47.100890],
						[-67.784440, 47.069180],
						[-67.775350, 45.945180],
						[-67.744620, 45.917240],
						[-67.792850, 45.863240],
						[-67.751480, 45.823900],
						[-67.782210, 45.692750],
						[-67.719730, 45.691550],
						[-67.557680, 45.604190],
						[-67.417600, 45.610440],
						[-67.406270, 45.501530],
						[-67.475620, 45.467600],
						[-67.405930, 45.370720],
						[-67.471850, 45.276340],
						[-67.339920, 45.128890],
						[-67.301560, 45.168420],
						[-67.291600, 45.190380],
						[-67.279160, 45.193890],
						[-67.139310, 45.161350],
						[-66.958430, 44.914380],
						[-66.975400, 44.860010],
						[-66.871640, 44.790190],
						[-66.937660, 44.210310],
						[-70.345260, 39.654840]
					]]
				}
			}
		});

		map.addLayer({
			'id': 'ne_outline',
			'type': 'line',
			'source': 'ne',
			'layout': {
				'visibility': 'none'
			},
			'paint': {
				'line-color': '#FF0000',
				'line-width': 2
			}
		});

		// map.setTerrain({
		// 	source: "terrain_rgb",
		// 	exaggeration: 2
		// });
	});
</script>
