{{ template "partials/head" .PageName }}
<body>
<pre>
<b>Liberty House Kilter Board</b>

<span class="to">text &#x35;&#x30;&#x38;&#x2D;&#x39;&#x33;&#x30;&#x2D;&#x36;&#x32;&#x37;&#x34;</span>
Contact Andrew DeChristopher
for supervised weekend access

7x10 Full Ride Homewall Layout
LED Kit and adjustable angle
(usually set to 25˚)

Outdoors - bring your own pads!
No smoking or loud music!
</pre>
<div id="shroud"></div>
<div id="map"></div>
{{ template "partials/scripts" }}
{{ template "partials/map-board" }}
</body>
