<!DOCTYPE html>
<html lang="en" aria-label="Fitchburg Fiber">
{{ template "ff-head.html" .PageName }}
<body>
<div id="wrap">
<pre>
<img src="/res/ff.png" alt="Fitchburg Fiber Logo">
<span id="to" class="no-select">&#x49;&#x4E;&#x46;&#x4F;&#x40;&#x46;&#x42;&#x46;&#x49;&#x42;&#x45;&#x52;&#x2E;&#x4E;&#x45;&#x54;</span>

FAST, AFFORDABLE INTERNET COMING
SOON TO DOWNTOWN FITCHBURG.

<i>READY TO DITCH THE BIG GUYS?</i>

<span id="cpn">COPIED EMAIL!</span>
</pre>
</div>
</body>
{{ template "ff-script.html" }}
</html>