{{ template "partials/head" .PageName }}
<body>
<pre>
Andrew DeChristopher
<span class="to">&#109;&#101;&#064;&#100;&#99;&#104;&#114;&#46;&#104;&#111;&#115;&#116;</span>
<a href="https://github.com/dechristopher" class="link" style="margin-top: 15px">github.com/dechristopher</a>
<a href="https://keybase.io/dechristopher" class="link">keybase.io/dechristopher</a>
<span><a href="https://blog.dchr.host" class="link">blog</a> - <a href="/map" class="link">map</a></span>
</pre>
<div id="shroud"></div>
<div id="map"></div>
{{ template "partials/scripts" }}
{{ template "partials/map-index" }}
</body>
